@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #A7727D;
    --cor-secundaria:#EDDBC7;
    --cor-terciaria: #F8EAD8;
    --cor-hover:#F9F5E7;
}

*{
    margin: 0;
    padding: 0;
}

body{
   /* height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var( --cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    color: var( --cor-terciaria);;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px ;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque{
    color: var( --cor-terciaria);;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One',sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
 /*
    background-color: var( --cor-terciaria);;
    */
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var( --cor-secundaria);
    border: 2px solid var( --cor-terciaria);;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
.apresentacao__links__link:hover {
    background-color:var(--cor-hover);;
}

.rodape{
    text-align: center;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var( --cor-terciaria);;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-weight: 400;
}